body {
    background-color: #898c7b;
    text-align: center;
    color: #4A4A48;
    font-family: monospace;
}

a {
    color: #A4C2A5;
    text-decoration: dashed;
}

a:hover {
    color: #5D5179;
    text-decoration: underline;
}

main {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}

h1 {
    text-align: center;
    
}
h2 {
    text-align: center;
    
}

h3{
    font-style: italic;
    text-align: center;
}

p{
    text-align: center;
    font-style: italic;
}

img {
    width: 316px;
    height: 412px;
}

figure{
    text-align: center;
    font-style: oblique;
}

.validator-icon {
    border: 0;
    width: 88px;
    height: 31px;
}

/*Website_evaluation*/
#evaluation{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

#websites{
   text-align:center; 
}

h3 a {
    font-size: x-large;
    color: #5D5179;
    font-style: bold;
}

section p{
    text-align: justify;
}