body {
    background-color: #898c7b;
    text-align: center;
    color: #4A4A48;
    font-family: monospace;
}

a {
    color: #A4C2A5;
    text-decoration: dashed;
}

a:hover {
    color: #5D5179;
    text-decoration: underline;
}

main {
    max-width: 1200px;      
    width: 90%;            
    margin: 0 auto;        
    text-align: left;
}

h1,
h2 {
    text-align: center;
}

h3 {
    font-style: italic;
    text-align: center;
}

p {
    text-align: center;
    font-style: italic;
}

img {
    
    width: 316px;
    height: 412px;
}

figure {
    text-align: center;
    font-style: oblique;
}

.validator-icon {
    border: 0;
    width: 88px;
    height: 31px;
}

#evaluation {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

#websites {
   text-align:center; 
}

h3 a {
    font-size: x-large;
    color: #5D5179;
    font-weight: bold; 
}

section p {
    text-align: justify;
}



@media screen and (max-width: 600px) {
    img {
        max-width: 100%;
        height: auto;
    }

    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    body {
        font-size: 18px;
    }

    main {
        width: 95%; 
    }
}

@media screen and (min-width: 993px) {
    body {
        font-size: 18px;
    }
}
