body {
    background-color: #898c7b;
    text-align: center;
    color: #4A4A48;
    font-family: monospace;
}

a {
    color: #A4C2A5;
    text-decoration: dashed;
}

a:hover {
    color: #5D5179;
    text-decoration: line-through;
}

main {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
}

h2 {
    text-align: center;
    
}

h3{
    font-style: italic;
    text-align: center;
}

p{
    text-align: center;
}

img {
    width: 316px;
    height: 412px;
}

figure{
    text-align: center;
    font-style: oblique;
}

.validator-icon {
    border: 0;
    width: 88px;
    height: 31px;
  }