<nav class="nav-links">
  <!-- Link to About Us page -->
  <h2><a href="about.html">About&nbsp;Us</a></h2>
  <span class="separator">|</span>

  <!-- Link to Contact page -->
  <h2><a href="contact.html">Contact</a></h2>
  <span class="separator">|</span>

  <!-- Link to Location / Directions page -->
  <h2><a href="location.html">Location</a></h2>
</nav>


<div class="site-credit">
  &copy; 2025 <strong>Jolly Bearly Studio</strong>. All rights reserved.
</div>

<div class="validators">
  <a id="validation-link-html"
     href="https://validator.w3.org/check?uri=referer" target="_blank">
    <img src="https://www.w3.org/Icons/valid-html401"
         alt="Validate HTML">
  </a>

  <a id="validation-link-css"
     href="https://jigsaw.w3.org/css-validator/check/referer"
     target="_blank">
    <img src="https://jigsaw.w3.org/css-validator/images/vcss"
         alt="Validate CSS">
  </a>

  <a id="validation-link-wcag"
     href="https://wave.webaim.org/report#/" target="_blank">
    <img src="images/wcag2AA-blue_resized.png"
         alt="Check Accessibility (WAVE)">
  </a>
</div>


