<a href="https://webpages.charlotte.edu/jpalenba/">Charlotte.edu</a>
        |
        <a href="https://github.com/jpalenba/jpalenba.github.io">Github</a>
        |
        <a href="https://jpalenba.github.io/itis3135">Github.io</a>
        |
        <a href="https://www.freecodecamp.org/jpalenba">freeCodeCamp</a>
        |
        <a href="https://www.codecademy.com/learn">Codeacademy</a>
        |
        <a href="https://www.linkedin.com/in/jose-palen-baez-2383a432a/">linkedin</a>

        <p>Page Built by <a href="JollyBearly.org">Jolly Proud Enterprises </a></p>
          <p><a href="https://www.freecodecamp.org/certification/jpalenba/responsive-web-design"><i>Certified in Responsive Web Design</i></a> &copy; 2025 </p>
          <p><a href="https://www.freecodecamp.org/certification/jpalenba/javascript-algorithms-and-data-structures-v8"><i>Certified in JS</i></a> &copy; 2025 </p>

        <a href="https://validator.w3.org/check?uri=referer" id="validation-link-html">
            <img class="validator-icon"
                 src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
          </a>
          <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation-link-css">
            <img class="validator-icon"
                 src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
          </a>