<h1>Jose Palen's Jolly Proud Bear || ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            |
            <a href="introduction.html">Introduction</a>
            |
            <a href="contract.html">Contact</a>
            <br>
            <p>----------------------------------------------------------</p>
            <a href="Jolly-Proud-Bear-Brewery/index.html">Jolly Proud Bear Brewery</a>
            |
            <a href="website_evaluation.html">Web Evaluation</a>
            |
            <a href="stuff/crappy%20WEBSITE.htm">Crappy Website&</a>
            |
            <a href="hobby/hobby.html">Hobby</a>
        </nav>
    